/**
 * Fonts
 */

/* latin */
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/mulish-regular.woff2) format('woff2');
}

/* cyrillic */
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/mulish-regular-cyrillic.woff2) format('woff2');
}

/* latin */
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/mulish-medium.woff2) format('woff2');
}

/* cyrillic */
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/mulish-medium-cyrillic.woff2) format('woff2');
}

/* latin */
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/mulish-bold.woff2) format('woff2');
}

/* cyrillic */
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/mulish-bold-cyrillic.woff2) format('woff2');
}

/* latin */
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url(../fonts/mulish-extrabold.woff2) format('woff2');
}

/* cyrillic */
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url(../fonts/mulish-extrabold-cyrillic.woff2) format('woff2');
}
