/**
 * Menu
 */

.hms-submenu {
	display: flex;
	list-style: none;
	padding: 0;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 30px;
	//justify-content: center;
	max-width: 100%;

	@media (max-width: 1600px) {
		font-size: 12px;
	}

	@media (min-width: 1640px) {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	> li {
		&:not(:last-child) {
			border-right: 1px solid var(--hms-grey-200);
			padding-right: 20px;

			@media (max-width: 1600px) {
				padding-right: 10px;
			}
		}

		&:not(:first-child) {
			padding-left: 20px;

			@media (max-width: 1600px) {
				padding-left: 10px;
			}

			@media (max-width: 1199px) {
				.hms-card-status-label {
					display: none;
				}
			}
		}

		> a {
			color: var(--hms-grey-700);
			text-decoration: none;
			position: relative;

			&:after {
				content: '';
				display: block;
				border-bottom: 1px dashed currentColor;
				position: absolute;
				left: 0;
				width: 100%;
				bottom: 0;
				opacity: 0;
				transition: all .3s;
			}

			.count {
				color: var(--hms-dark);
			}

			&:hover {
				color: var(--hms-blue-600);

				&:after {
					opacity: 1;
				}

				.count {
					color: currentColor;
				}
			}

			.hms-card-status-icon {
				margin-right: 7px;
				margin-bottom: -2px;
			}
		}

		&.active > a {
			color: var(--hms-blue-600);

			.count {
				color: var(--hms-blue-600);
			}
		}
	}
}
